html,
body {
	height: 100vh;
	/* 100% view height */
	width: 100vw;
	/* 100% view width */
	background-color: rgb(25, 2, 45);
}

nav {
	width: 100vw;
	background-color: rgb(38, 4, 68);
}

.link,
.nav-link {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 24, 179);
	border-radius: 23px;
	margin-right: 15px;
}

.link {
	min-width: 50px;
	margin-top: 65px;
	padding: 5px;
}

.nav-link {
	float: right;
}

.link:hover,
.nav-link:hover {
	color: rgb(0, 0, 0);
}

input[type=button] {
	float: left;
}

input[type=submit] {
	float: right;
}

#content {
	width: 100vw;
	position: absolute;
	top: 100px;
	padding: 15px;
}

#form {
	position: relative;
	top: 17.5vh;
	margin: 0 auto;
	width: 375px;
	height: 250px;
	padding: 15px;
	border-radius: 25px;
	background-color: rgb(38, 4, 68);
}

#dropdown-list {
	height: 85px;
    top: 45px;
    left: -100px;
}

label {
	color: rgb(255, 24, 179);
}

h1 {
	font-weight: bolder;
	color: rgb(255, 255, 255);
	margin-bottom: 15px;
}

h2 {
	font-weight: bold;
	color: rgb(255, 255, 255);
}

table {
	margin: 0 auto;
	background-color: rgb(38, 4, 68);
}

td {
	color: rgb(255, 255, 255);
}

footer {
	width: 100vw;
	background-color: rgb(38, 4, 68);
}

footer>div>p {
	margin: 0;
	padding: 5px;
	color: rgb(255, 24, 179);
}

.error {
	position: absolute;
	color: rgb(255, 0, 0);
}
